<div class="cityMainBlock">
  <div class="cityName"><h1>Нью-Йорк</h1></div>
  <div class="timeFormat"><h1>Время: {{dateApi.datetime.substring(11,13)}}:{{dateApi.datetime.substring(14,16)}}:{{dateApi.datetime.substring(17,19)}}</h1>
    <h1>Дата: {{dateApi.datetime.substring(8,10)}}.{{dateApi.datetime.substring(5,7)}}.{{dateApi.datetime.substring(0,4)}}</h1></div>
  <div class="cityImages">
    <img src="../../assets/images/ny.jpg"/>
  </div>
  <div class="cityDescription"><h2>Краткое описание</h2>
    <p>Страна: США.
      Основан в 1624 году.
      Население: 	8 405 837 чел.</p>
  </div>
  <div class="cityRefToWiki"><a href="https://ru.wikipedia.org/wiki/Нью-Йорк"  target="_blank" class="linkToWiki">Полная информация о городе</a></div>
</div>
