<div class="mainBlock">
  <div class="box1 dark">box1</div>
  <div class="box2 light"><h1>What's time?!</h1></div>
  <div class="box3 dark">box3</div>
  <div class="box4" align="center"><p>Хочешь узнать какое время в таких чудесных городах как <strong>Санкт-Петербург, Токио, Париж, Нью-Йорк?</strong></p>
    <br/>
    <p>Ты можешь сделать это на нашем сайте. <u>Просто нажми кнопку с твоим любимым городом и ты увидишь:</u></p></div>
  <div class="box5 dark">
    <div class="list">
      <ul>
        <li>Время в твоём любимом городе</li>
        <li>Как город обычно выглядит в это время</li>
        <li>Прочитать краткое описание твоего любимого города</li>
        <li>Прочитать подробную информацию на сайте википедии</li>
      </ul>
    </div>
  </div>
</div>
